<template>
    <div class="container">
        <div v-if="showAlert" class="alert alert-info alert-dismissible fade show" role="alert">
            We can insure your car
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="bg-white material-shadow rounded-lg">
                    <div class="card-header">
                        <h5 class="m-0">Make insurance step {{step}}</h5>
                    </div>
                    <div class="card-body" :class="step == 'finish' ? 'p-0' : false">
                        <form data-vv-scope="form">
                            <template v-if="step == 1">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="mark">mark</label>
                                            <select v-model="carData.mark" class="form-control" name="mark" id="mark" @change="getTypes(carData.mark)" v-validate="'required'">
                                                <option value="" disabled selected>Choose car mark</option>
                                                <option :value="mark.id" v-for="mark in carMarks">{{mark.name}}</option>
                                            </select>
                                            <span v-if="errors.items.find(item => item.field == 'mark')" class="text-danger">
                                                {{ this.errors.items.find(item => item.field == 'mark').msg }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="type">Model</label>
                                            <select v-model="carData.type" class="form-control" id="type" @change="getDrivetrains(carData.type)" name="type" v-validate="'required'">
                                                <option value="" disabled selected>Choose car model</option>
                                                <option :value="type.id" v-for="type in carTypes">{{type.name}}</option>
                                            </select>
                                            <span v-if="errors.items.find(item => item.field == 'type')" class="text-danger">
                                                {{ errors.items.find(item => item.field == 'type').msg }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="milage">Milage</label>
                                            <input v-model="carData.milage" type="number" class="form-control" id="milage" @change="saveInsurance()" placeholder="Choose car milage" name="milage" v-validate="'required'">
                                            <span v-if="errors.items.find(item => item.field == 'milage')" class="text-danger">
                                                {{ errors.items.find(item => item.field == 'milage').msg }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="picker">Buying Date</label>
                                            <datepicker v-model="carData.buy_date"
                                                        :input-class="'form-control'"
                                                        @selected="saveInsurance()"
                                                        id="picker"
                                                        placeholder="Choose buying date" name="date" v-validate="'required'"></datepicker>
                                            <span v-if="errors.items.find(item => item.field == 'date')" class="text-danger">
                                                {{ errors.items.find(item => item.field == 'date').msg }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </template>
                            <template v-if="step == 2">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="color">Color</label>
                                            <select v-model="carData.color" class="form-control" name="color" id="color" @change="saveInsurance()" v-validate="'required'">
                                                <option value="" disabled selected>Choose car color</option>
                                                <option value="white">White</option>
                                                <option value="silver">Silver</option>
                                                <option value="black">Black</option>
                                                <option value="other">Other</option>
                                            </select>
                                            <span v-if="errors.items.find(item => item.field == 'color')" class="text-danger">
                                                {{ errors.items.find(item => item.field == 'color').msg }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col" v-if="Object.keys(carDrivetrains).length">
                                        <div class="form-group">
                                            <label for="drivetrain">Drivetrain</label>
                                            <select v-model="carData.drivetrain" class="form-control" id="drivetrain" name="drivetrain" @change="saveInsurance()" v-validate="'required'">
                                                <option value="" disabled selected>Choose car drivetrain</option>
                                                <option :value="drivetrain.id" v-for="drivetrain in carDrivetrains">{{drivetrain.name}}</option>
                                            </select>
                                            <span v-if="errors.items.find(item => item.field == 'drivetrain')" class="text-danger">
                                                {{ errors.items.find(item => item.field == 'drivetrain').msg }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="upload">Upload image</label>
                                            <vueDropzone id="upload" :options="dropOptions"></vueDropzone>
                                        </div>
                                    </div>
                                </div>
                            </template>
                            <img v-if="step == 'finish'" class="img-fluid" src="https://steamuserimages-a.akamaihd.net/ugc/942834527348723621/619B7C8C2CB26B2E0403C2F8AD83A973571E1B5F/">
                            <div v-else class="row mt-4">
                                <div class="col text-right">
                                    <button v-if="step == 2" @click.prevent="nextStep()" class="btn btn-primary">Get quote</button>
                                    <button v-else @click.prevent="nextStep()" class="btn btn-primary">Next</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    export default {
        name: "carRegister",
        props: {
            auth_user: {
                required: true
            }
        },
        data() {
            return {
                carData: {
                    mark: '',
                    type: '',
                    milage: '',
                    buy_date: '',
                    color: '',
                    drivetrain: '',
                    user_id: ''
                },
                step: 1,
                showAlert: false
            }
        },
        watch: {
            'carData.buy_date': function (val) {
                let _this = this
                this.carData.buy_date = val ? this.$moment(val).format('YYYY-MM-DD') : null
            },
            'carData.milage': function (val) {
                if (val > 100000) {
                    this.showAlert = true
                }
            }
        },
        computed: {
            ...mapGetters(['carMarks', 'carTypes', 'carDrivetrains', 'userInsurance']),
            dropOptions() {
                return {
                    url: '/api/upload',
                    createImageThumbnails: true,
                    dictDefaultMessage: "Attach Images",
                    acceptedFiles: ".jpg,.png,.jpeg,.gif",
                    uploadMultiple: false,
                    addRemoveLinks: true,
                    clickable: true
                }
            },
        },
        methods: {
            saveInsurance() {
                this.$store.dispatch('saveUserInsuracne', this.carData)
            },
            getDrivetrains(type) {
                this.carData.drivetrain = ''
                this.$store.dispatch('getDrivetrain', type)
                this.$store.dispatch('saveUserInsuracne', this.carData)
            },
            nextStep() {
                this.$validator.validateAll('form').then((result) => {
                    if(this.step == 1 && result) {
                        this.step = 2
                    } else if (this.step == 2 && result) {
                        this.step = 'finish'
                    }
                });
            },
            getTypes(mark) {
                this.carData.type = ''
                this.$store.dispatch('getTypes', mark)
                this.$store.dispatch('saveUserInsuracne', this.carData)
            }
        },
        created() {
            this.$store.dispatch('getMarks')
            this.carData.user_id = this.auth_user ? JSON.parse(this.auth_user).id : null
            this.$store.dispatch('getUserInsurance', this.carData.user_id).then(response => {
                if(response.data) {
                    this.carData = this.userInsurance
                    this.$store.dispatch('getTypes', this.carData.mark)
                    response.data.type == 9 ? this.$store.dispatch('getDrivetrain', response.data.type) : false
                }
            })
        }
    }

</script>
