<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Auto insurance</a>
            <div class="ml-auto">
                <template v-if="!authUser">
                    <a href="/login" class="btn btn-primary my-2 my-sm-0" type="submit">Login</a>
                    <a href="/register" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Signup</a>
                </template>
                <ul v-else   class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{authUser.name}}
                            <span class="caret"></span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/logout"
                               onclick="event.preventDefault();document.getElementById('logout-form').submit();">
                                Logout
                            </a>
                            <form id="logout-form" action="/logout" method="POST" style="display: none;"></form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "headerNavbar",
        props: {
            auth_user: {
                required: true
            }
        },
        data() {
          return {
              authUser: null
          }
        },
        created() {
            this.authUser = this.auth_user ? JSON.parse(this.auth_user) : this.auth_user
        }
    }
</script>
